.card {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	height: 17rem;
	width: 12rem;
	padding: 1rem;
	background-color: var(--card-color-hex);
	border-radius: 1.5rem;

	line-height: 1;
	user-select: none;

	&.♠ p,
	&.♣ p {
		color: #000;
	}

	&.♥ p,
	&.♦ p {
		color: #cb2e4b;
	}
}

.value-area {
	display: flex;
	align-self: flex-start;

	.value {
		font-size: 5rem;
		color: #000;
	}

	.suite {
		align-self: flex-start;
		font-size: 3rem;
	}
}

.suite-area {
	display: flex;
	align-self: flex-end;
	font-size: 6rem;

	span {
		align-self: flex-end;
	}
}
