.card {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	height: 17rem;
	width: 12rem;
	padding: 1rem;
	background-color: var(--card-color-hex);
	border-radius: 1.5rem;

	line-height: 1;
	user-select: none;

	// Add color to the suites
	&.♠ p,
	&.♣ p {
		color: #000;
	}

	&.♥ p,
	&.♦ p {
		color: #cb2e4b;
	}

	// Add more fun colors to the larger suite icon
	&.♥ .suite-area p,
	&.♦ .suite-area p {
		background: conic-gradient(at 50% 100%, #d43350, #cb2e4b, #cb2e4b);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&.♠ .suite-area p,
	&.♣ .suite-area p {
		background: conic-gradient(at 50% 100%, #282a2e, #000, #000);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.value-area {
	display: flex;
	align-self: flex-start;

	.value {
		font-size: 5rem;
		color: #000;
	}

	.suite {
		align-self: flex-start;
		font-size: 3rem;
	}
}

// Large suite representation
.suite-area {
	display: flex;
	align-self: flex-end;
	font-size: 6rem;

	span {
		align-self: flex-end;
	}
}
